USE [master]
GO
/****** Object:  Database [UniproStore]    Script Date: 12/02/2025 07:54:30 ******/
CREATE DATABASE [UniproStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniproStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\UniproStore.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UniproStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\UniproStore_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniproStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniproStore]
GO
/****** Object:  User [IIS APPPOOL\Unipro Store Local Hosting]    Script Date: 12/02/2025 07:54:30 ******/
CREATE USER [IIS APPPOOL\Unipro Store Local Hosting] FOR LOGIN [IIS APPPOOL\Unipro Store Local Hosting] WITH DEFAULT_SCHEMA=[db_owner]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\Unipro Store Local Hosting]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/02/2025 07:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [varchar](50) NOT NULL,
	[description] [text] NULL,
	[createdTime] [datetime] NOT NULL,
	[updatedTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Media]    Script Date: 12/02/2025 07:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[mediaId] [int] IDENTITY(1,1) NOT NULL,
	[mediaName] [varchar](50) NOT NULL,
	[createdTime] [datetime] NULL,
	[updatedTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[mediaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneBrand]    Script Date: 12/02/2025 07:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneBrand](
	[phoneBrandId] [int] IDENTITY(1,1) NOT NULL,
	[phoneBrandName] [varchar](50) NOT NULL,
	[createdTime] [datetime] NOT NULL,
	[updatedTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[phoneBrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneType]    Script Date: 12/02/2025 07:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneType](
	[phoneTypeId] [int] IDENTITY(1,1) NOT NULL,
	[phoneBrandId] [int] NOT NULL,
	[phoneTypeName] [varchar](50) NOT NULL,
	[createdTime] [datetime] NOT NULL,
	[updatedTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[phoneTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/02/2025 07:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productId] [varchar](50) NOT NULL,
	[subCategoryId] [int] NOT NULL,
	[productModelId] [int] NOT NULL,
	[phoneTypeId] [int] NOT NULL,
	[colorId] [int] NOT NULL,
	[stock] [int] NOT NULL,
	[buyPrice] [decimal](10, 2) NOT NULL,
	[sellPrice] [decimal](10, 2) NOT NULL,
	[description] [text] NULL,
	[image] [varbinary](max) NULL,
	[createdTime] [datetime] NOT NULL,
	[updatedTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductBrand]    Script Date: 12/02/2025 07:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductBrand](
	[productBrandId] [int] IDENTITY(1,1) NOT NULL,
	[productBrandName] [varchar](50) NOT NULL,
	[createdTime] [datetime] NOT NULL,
	[updatedTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productBrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductColor]    Script Date: 12/02/2025 07:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductColor](
	[colorId] [int] IDENTITY(1,1) NOT NULL,
	[colorName] [varchar](25) NOT NULL,
	[createdTime] [datetime] NOT NULL,
	[updatedTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[colorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductModel]    Script Date: 12/02/2025 07:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductModel](
	[productModelId] [int] IDENTITY(1,1) NOT NULL,
	[productBrandId] [int] NOT NULL,
	[productModelName] [varchar](50) NOT NULL,
	[createdTime] [datetime] NOT NULL,
	[updatedTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseTransaction]    Script Date: 12/02/2025 07:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseTransaction](
	[purchaseId] [varchar](50) NOT NULL,
	[supplierId] [int] NOT NULL,
	[purchaseDate] [date] NOT NULL,
	[totalItem] [int] NOT NULL,
	[totalPrice] [decimal](10, 2) NOT NULL,
	[createdTime] [datetime] NOT NULL,
	[updatedTime] [datetime] NOT NULL,
	[invoiceImage] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[purchaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseTransactionDetail]    Script Date: 12/02/2025 07:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseTransactionDetail](
	[purchaseDetailId] [int] IDENTITY(1,1) NOT NULL,
	[purchaseId] [varchar](50) NOT NULL,
	[productId] [varchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[createdTime] [datetime] NOT NULL,
	[updatedTime] [datetime] NOT NULL,
	[buyPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[purchaseDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/02/2025 07:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[roleId] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [varchar](50) NOT NULL,
	[createdTime] [datetime] NULL,
	[updatedTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesTransaction]    Script Date: 12/02/2025 07:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesTransaction](
	[salesId] [varchar](50) NOT NULL,
	[userId] [int] NOT NULL,
	[mediaId] [int] NOT NULL,
	[salesDate] [date] NOT NULL,
	[totalItem] [int] NOT NULL,
	[totalPrice] [decimal](10, 2) NOT NULL,
	[transactionDiscount] [decimal](10, 2) NOT NULL,
	[discountedPrice] [decimal](10, 2) NOT NULL,
	[createdTime] [datetime] NOT NULL,
	[updatedTime] [datetime] NOT NULL,
 CONSTRAINT [PK__SalesTra__E31CBAB01736B0F2] PRIMARY KEY CLUSTERED 
(
	[salesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesTransactionDetail]    Script Date: 12/02/2025 07:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesTransactionDetail](
	[salesDetailId] [int] IDENTITY(1,1) NOT NULL,
	[salesId] [varchar](50) NOT NULL,
	[productId] [varchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
	[discount] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[createdTime] [datetime] NOT NULL,
	[updatedTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[salesDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 12/02/2025 07:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategory](
	[subCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryId] [int] NOT NULL,
	[subCategoryName] [varchar](50) NOT NULL,
	[description] [text] NULL,
	[createdTime] [datetime] NOT NULL,
	[updatedTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[subCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 12/02/2025 07:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[supplierId] [int] IDENTITY(1,1) NOT NULL,
	[supplierName] [varchar](100) NOT NULL,
	[address] [varchar](255) NOT NULL,
	[contactNumber] [varchar](50) NOT NULL,
	[createdTime] [datetime] NOT NULL,
	[updatedTime] [datetime] NOT NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[supplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/02/2025 07:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[roleId] [int] NOT NULL,
	[fullName] [varchar](100) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[createdTime] [datetime] NOT NULL,
	[updatedTime] [datetime] NOT NULL,
	[isActive] [bit] NOT NULL,
	[lastLogin] [datetime] NULL,
 CONSTRAINT [PK__Users__CB9A1CFF8DBEEAF8] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Media] ADD  DEFAULT (getdate()) FOR [createdTime]
GO
ALTER TABLE [dbo].[Media] ADD  DEFAULT (getdate()) FOR [updatedTime]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [createdTime]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [updatedTime]
GO
ALTER TABLE [dbo].[Supplier] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__isActive__3D2915A8]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[PhoneType]  WITH CHECK ADD FOREIGN KEY([phoneBrandId])
REFERENCES [dbo].[PhoneBrand] ([phoneBrandId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([colorId])
REFERENCES [dbo].[ProductColor] ([colorId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([phoneTypeId])
REFERENCES [dbo].[PhoneType] ([phoneTypeId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([productModelId])
REFERENCES [dbo].[ProductModel] ([productModelId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([subCategoryId])
REFERENCES [dbo].[SubCategory] ([subCategoryId])
GO
ALTER TABLE [dbo].[ProductModel]  WITH CHECK ADD FOREIGN KEY([productBrandId])
REFERENCES [dbo].[ProductBrand] ([productBrandId])
GO
ALTER TABLE [dbo].[PurchaseTransaction]  WITH CHECK ADD FOREIGN KEY([supplierId])
REFERENCES [dbo].[Supplier] ([supplierId])
GO
ALTER TABLE [dbo].[PurchaseTransactionDetail]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[PurchaseTransactionDetail]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseTransactionDetail_PurchaseTransaction] FOREIGN KEY([purchaseId])
REFERENCES [dbo].[PurchaseTransaction] ([purchaseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseTransactionDetail] CHECK CONSTRAINT [FK_PurchaseTransactionDetail_PurchaseTransaction]
GO
ALTER TABLE [dbo].[SalesTransaction]  WITH CHECK ADD  CONSTRAINT [FK__SalesTran__userI__1EA48E88] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([userId])
GO
ALTER TABLE [dbo].[SalesTransaction] CHECK CONSTRAINT [FK__SalesTran__userI__1EA48E88]
GO
ALTER TABLE [dbo].[SalesTransaction]  WITH CHECK ADD  CONSTRAINT [FK_SalesTransaction_Media] FOREIGN KEY([mediaId])
REFERENCES [dbo].[Media] ([mediaId])
GO
ALTER TABLE [dbo].[SalesTransaction] CHECK CONSTRAINT [FK_SalesTransaction_Media]
GO
ALTER TABLE [dbo].[SalesTransactionDetail]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[SalesTransactionDetail]  WITH CHECK ADD  CONSTRAINT [FK_SalesTransactionDetail_SalesTransaction] FOREIGN KEY([salesId])
REFERENCES [dbo].[SalesTransaction] ([salesId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesTransactionDetail] CHECK CONSTRAINT [FK_SalesTransactionDetail_SalesTransaction]
GO
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([categoryId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Roles] ([roleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
